* {
  padding: 0;
  margin: 0;
}
#header {
  background-color: #191919;
  height: 74vh;
}
#navbar {
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
}
#navbar img {
  height: 60px;
}
.navbar-h1 {
  color: #e4aa48;
  margin-top: 10px;
}
.nav-links {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}
.nav-links li {
  list-style: none;
  padding: 15px 20px;
  display: inline-block;
  position: relative;
}
a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e4aa48;
  display: block;
  margin-left: auto;
  transition: 0.7s;
}
.nav-links li:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
}
#info {
  display: flex;
  padding-top: 83px;
}

#myimg {
  margin-left: 90px;
}
.info-text {
  background: url("https://lh3.googleusercontent.com/toau8vzYj3GGXJN6LgWjgUvbsLrjO2T8xw_rbXcH0dRKYFiBl-USe1ohjC0CB1qoOD077nL1WOmn_e1FI8tJBnKh0mFjTLYTKrrjGXELS4K8A5uOFPdrgNo8gezEtwc2MaQ4-G2ReUWfUL8lSngF7jx8fGmhQ4F1b8O0GpaQmsvnkanfuPUtxQO01yAmGf0zJyxpGWRHuzoWYI79QkOKnMJolf3-OBdmICc8UCMFNKePBrDHMmu8T3KuBjrzO2xLYW11fwXsJknhgw55QyzTSlK0VXb-FkIhoz-UCsdr0F_ZdsjRSZx1UOQytYYQ-MuNFBVw4cCpnuepBYKBieg-77aTeapbZpQXLyq28-MDfOV3lZ5vQBwbCilvwIIeRt1X05IFbj0SVu8QkBMcQn1MVhde7NKornYw_JTOev6deb_QPaBYzsC8at7JWF2qV1ySmLeAmpsvM7lT_Fzsnyps6s4v8vLhk7zOCY1fDJ8BcctmfRNlUzzUsSsjOrSvJd9UrNOWeE9vMcwpJVNYGxgpR7Pp_yrrR9QJhfnhav63obTZiGkrn8bKgEypWc2sj-26i-MbrmmWVWNLUgd1ANy5WJB3MNT3eHwFCTjRecZnLEU5ss1qDhUS5n0lx8jM4dtNnV_DO9LMdP6I_BuSf3YugEbIh-99W640vhg4e0m5nifIKphOtfD3zRdBbagiK2JgWWekoroHcxI7pZR3p46n36mam3ipWolvjq_aFEi1lhClnuEM7AiiRWzbrO3ibw=w645-h387-no?authuser=0");
}
#info-h3 {
  color: #e4aa48;
  margin-top: 100px;
  font-size: 30px;
}
#info-h1 {
  color: #fff;
  margin-top: 7px;
  font-size: 50px;
}
#info-p {
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}

.social-vert {
  margin-top: 10px;
  margin-left: 50px;
}
.social-bor-div1 {
  border: 1px solid white;
  height: 100px;
  width: 0px;
}
.social-bor-div2 {
  border: 1px solid white;
  height: 100px;
  width: 0px;
}

.social-ic a i {
  color: white;
  font-size: 35px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: -12px;
  transition: 0.5s;
}
.social-ic a i:hover {
  color: #e4aa48;
}
.learn-more {
  font-weight: bold;
  transition: 0.5s;
}
.learn-more:hover {
  color: #e4aa48;
}

#about {
  display: flex;
  background-color: #2f2f2f;
  padding-top: 112px;
  text-align: center;
  flex-basis: 100px;
  margin: auto;
  padding-bottom: 60px;
}
.about-h1 {
  color: #e4aa48;
  margin-bottom: 20px;
  font-size: 50px;
}
.about-h21 {
  color: #fff;
  font-size: 30px;
}
.about-h22 {
  color: #bd7e0d;
  margin-top: 25px;
  font-size: 25px;
}
.about-p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
#about-img {
  display: flex;
  margin: 80px 100px 80px 200px;
}
#about-img img {
  border-radius: 30px;
}
#about-disc {
  text-align: left;
  margin-left: 100px;
}

#skill {
  background-color: #212121;
  padding-top: 100px;
  text-align: center;
  margin: auto;
}
.skill-h1 {
  color: #e4aa48;
  margin-bottom: 10px;
  font-size: 50px;
}
.skill-h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 30px;
}
.skill-p {
  color: #fff;
  margin-bottom: 40px;
}
#skill-innerdiv {
  display: inline-flex;
}

.skill-c {
  padding: 30px;
}
.progress-container {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  position: relative;
}

.svg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  stroke-linecap: round;
}
.svg1-cpp{
  stroke-dasharray: 220;
}
.svg1-css{
  stroke-dasharray: 270;
}
.svg1-js{
  stroke-dasharray: 240;
}
.svg1-py{
  stroke-dasharray: 200;
}
.svg1-rjs{
  stroke-dasharray: 220;
}
.svg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  stroke-linecap: round;
  stroke-dasharray: 1860;
  opacity: 0.1;
}

.title {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title2 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#project{
  text-align: center;
  background-color:#2f2f2f;
  padding-top: 100px;
}
.project-h1{
  color: #e4aa48;
  margin-bottom: 50px;
  font-size: 50px;
}
#project-innerdiv{
  display: flex;
}
.project-div1{
  margin: 23px;
}
.project-div1 img{
  width: 400px;
  height: 300px;
  border-radius: 20px;
  transition: 0.5s;
}
.project-div1 img:hover{
  box-shadow: rgba(255, 163, 26, 0.35) 0px 25px 50px -12px;
}
.project-inner-h3{
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
}

#contact{
  display: flex;
  padding-top: 50px;
  background-color: #191919;
}
.contact-detail{
  width: 50%;
  color: white;
  padding-top: 5%;
}
.contact-mid-div{
  border: 1px solid #fff;
  margin-top: 130px;
  height: 400px;
}

.contact-msg{
  width: 50%;
  padding: 5%;
}
.contact-h1{
  font-size: 50px;
  margin-left: 50px;
  color: #e4aa48;
}
.cont{
  width: 150px;
  margin: 50px;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: #242222;
  transition: 1s;
  border: 1px solid #bd7e0d;
  padding: 2%;
}
.cont:hover{
  background-color: #bd7e0d;
  cursor: pointer;
}

.contact-msg-h1{
  color: #fff;
  margin-bottom: 30px;
}
.input-name, .input-email{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 80%;
  outline: none;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  line-height: 4.5;
  text-transform: none;
  color: #fff;
}
.input-msg{
  background-color: transparent;
  border: none;
  margin-top: 30px;
  border-bottom: 1px solid #fff;
  width: 80%;
  outline: none;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  resize: none;
  text-transform: none;
  color: #fff;
}
.mail-btn{
  width: 20%;
  font-size: 40px;
  border-radius: 5px;
  margin-top: 30px;
  background-color: #e4aa48;
  border: none;
}
.mail-btn:hover{
  cursor: pointer;
  background-color: #bd7e0d;
}